# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Output
output/
paragraph_reconstruction_debug.txt

# PyInstaller generated build output
build/
dist/
packaging/VideoText_version.txt

# Sample videos
sample_videos/

# OS
.DS_Store
Thumbs.db
